@font-face {
    font-family: 'Fixedsys 62';
    font-style: normal;
    font-weight: normal;
    src: local('Fixedsys 62'), url('Fixedsys62.woff') format('woff');
}
@font-face {
    font-family: 'Font 437';
    font-style: normal;
    font-weight: normal;
    src: local('Font 437'), url('https://yopokiq.github.io/Emulator/Windows/styles/font-437.ttf') format('ttf');
}
