@font-face {
    font-family: 'Fixedsys 62';
    font-style: normal;
    font-weight: normal;
    src: local('Fixedsys 62'), url('Fixedsys62.woff') format('woff');
}
@font-face {
    font-family: 'Perfect DOS VGA 437';
    font-style: normal;
    font-weight: normal;
    src: local('OEM-US'), local('Code Page 437'), url('PerfectDOSVGA437.ttf') format('ttf');
}
